
body{
    background-color: black;
  
   background-repeat: no-repeat;
   background-position: center;
}


.h11{
 	 text-align: center;
   background: black;
    color: red;
    border: 5px solid red;
    outline: 5px solid blue;
}

.h12{
background-color: black;
    color: blue;
}


.h13{
background-color: black;
    color: red;
}

.p1{
    
    color: blue;
    
  }  
  
.div19{
    
   
    background: black;
    
    border: 5px solid red;
    outline: 2px solid blue;
}

ul{
    color: red;
}

.div1{
    color:red
}

.div2{
    color:green
}

.div3{
    color:blue
}

.div4{
    color:orangered
   
}

.div5{
    color:greenyellow
}

.div6{
    color:yellow
}

.div7{
    color:royalblue
}
.div8{
    color:red
}

.div9{
    color:blueviolet
}
.div10{
    color:aqua
}

.div11{
    color:brown
}

.div12{
    color:orangered
}
.div13{
    color:fuchsia
}
.div14{
    color:maroon
}
.div15{
    color:red
}

.div16{
    color:red
}

.div17{
    color:paleturquoise
}

.div18{
    color:palegoldenrod
}

.div20{
    color:aqua
}

.div21{
    color:blue
}

.div22{
    color:fuchsia
}

.div23{
    color:gold
}

.div24{
    color:paleturquoise
}

.div25{
    color:lawngreen
}
.div26{
    color:darkblue
}
.div27{
    color:orangered
}

.div28{
    color:aqua
}

.div29{
    color:mediumblue
}

.div30{
    color:magenta
}

.div31{
    color:maroon
}

.div32{
    color:forestgreen
}

.div33{
    color:#ffffff
}

.div34{
    color: blue;
}
.div35{
    color:cornflowerblue
}

.div36{
    color:aqua
}

.div37{
    color:red
}

.div38{
    color:greenyellow
}

.div39{
    color:gold
}

.div40{
    color:magenta
}
.div41{
    color:fuchsia
}
.div42{
    color:orange
}

.div43{
    color:aqua
}

.div44{
    color:aqua
}
.div45{
    color:aqua
}